body {
  margin: 0;
}
#background-img {
  position: fixed;
  right: 0px;
  top: 0px;
  max-width: 100%;
  min-height: 100%;
  z-index: -5;
  background-repeat: repeat;
  background-attachment: center;
  background-size: cover;
}
li {
    margin-bottom: 10px;
}
.container {
  font-family: 'Poiret One', cursive;
  width: 600px;
  border-style:hidden;
  border-radius: 15px;
  border-width: 2px;
  height: 410px;
  margin-top: 30px;
  padding: 20px;
}
h1 {
  color: #050506;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}
#temperature {
    padding-left: 40px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 2px;
  color: #000;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 0 auto;
  background: linear-gradient(to top, #eeceacbd 0%, #f1d9bac3 100%);
  border-radius: 15px;
}

.weather-app {
  padding: 20px;
  margin-top: 25px;
  border-radius: 15px;
}
.overview,
.info {
  margin-bottom: 20px;
  padding: 5px 0 0 20px;
  font-family: 'Forum', cursive;
}
.form-control {
    width: 220px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: #000000;
  font-size: 64px;
  line-height: 1;
  font-weight: 600;
  
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #000000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Forum', cursive;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-min {
  opacity: 0.5;
}

.forecast-temp {
  font-size: 13px;
}
small {
    text-align: center;
    display: block;
    color: black;
    margin-top: 55px;
    font-family: 'Forum', cursive;
}
#description {
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}
#icon {
    margin: 0 0 0 30px;
    width: 80px;
    height: 80px;
}
#location {
    margin: 5px 5px 5px 5px;
  display: block;
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 18px;
  padding: 0x 24px;
  transition: all 200ms ease;
  cursor: pointer;
  text-decoration: solid;
  background-color: transparent;
}
#search-submit {
  background-color: #fceecc;
  border-radius: 15px;
  box-shadow: rgba(187, 125, 44, 0.2);
  color: rgb(10, 13, 15);
  cursor: pointer;
  width: 10px;
  height: 35px;
  display: block;
  padding: 7px 15px;
  text-align: center;
  font-family: 'Forum', cursive;
  border: 0;
  font-size: 18px;
}
#temperature {
    padding-left: 90px;
    padding-top: 20px;
}
#today-info {
  margin-left: 30px;
  margin-right: 30px;
}
#date {
  font-family: 'Forum', cursive;
}